:root{
  --main-hue : #CAECFF;
  --link : #2677FF;
  --hover : #333;
  --border : #BFE6FF;
  --button-background : #1057FF;
  --button-border : #073BFF;
  --page-border : #6ECCFF;
  --error-background : #FAE4E4;
  --player-button : #f1f1f1;
  --button-game : #fff1f1;
  --error-border : #DD6F6F;
  --shadow : #2477FF;
  --page-background : #DEE9FF;
  --text-border : #ccc;
}

:root[theme='pink']{
  --main-hue : #ffcaf4;
  --link : #ff26cc;
  --hover : #333;
  --border : #febfff;
  --button-background : #e368d9;
  --button-border : #8a5c86;
  --page-border : #ffb0fb;
  --error-background : #ffd1d1;
  --player-button : #f1f1f1;
  --button-game : #fff1f1;
  --error-border : #ff7575;
  --shadow : #f824ff;
  --page-background : #f7deff;
  --text-border : #ccaab0;
}

body {
  background: var(--main-hue);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--hover);
}

a[disabled] {
  color: gray;
  cursor: default;
}

form#signout {
  display: inline;
}

input[type="text"],
input[type="password"] {
  background: white;
  border: 1px solid var(--border);
  padding: 2px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: var(--button-background);
}

input[type="submit"] {
  background: var(--button-background);
  border: 1px solid var(--button-border);
  padding: 1px 3px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: white;
}

button[type="submit"] {
  background: var(--button-background);
  border: 1px solid var(--button-border);
  padding: 1px 3px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: white;
}

div.page {
  background: white;
  border: 1px solid var(--page-border);
  width: 710px;
  margin: 30px auto;
}

div.page h1 {
  background: var(--page-border);
  margin: 0;
  padding: 10px 14px;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0 0 3px var(--shadow);
  font-weight: normal;
}

div.page div.navigation {
  background: var(--page-background);
  padding: 4px 10px;
  border-top: 1px solid var(--text-border);
  border-bottom: 1px solid #eee;
  color: #888;
  font-size: 12px;
  letter-spacing: 0.5px;
}

div.page div.navigation a {
  color: #444;
  font-weight: bold;
}

div.page h2 {
  margin: 0.5em 0 0.25em 0;
  color: var(--button-background);
  text-shadow: 0 1px 2px var(--text-border);
}

div.page div.body {
  padding: 10px;
}

div.page div.footer {
  background: #eee;
  color: #888;
  padding: 5px 10px;
  font-size: 12px;
}

/**
 * The styling of a Message with an ERROR type.
 */
div.ERROR {
  margin: 10px 0;
  background: var(--error-background);
  border: 1px solid var(--error-border);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

/**
 * The styling of a Message with an INFO type.
 */
div.INFO {
  margin: 10px 0;
  background: var(--main-hue);
  filter: brightness(115%);
  border: 1px solid var(--page-border);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}
button.player {
  background-color: var(--player-button);
  width: 100px;
  margin: 10px;
}
button.game {
  background-color: var(--button-game);
  width: 100px;
  margin: 10px;
}
